body {
  font-family: 'Arial, sans-serif';
  margin: 0;
  padding: 0;
  background-image: url('https://www.perkypet.com/media/Articles/Perky-Pet/All-About-Squirrel-Nests.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
}


.App {
  text-align: center;
}

nav {
  background-color: #228b22;
  padding: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2em;
}

.carousel {
  margin: 2em auto;
  width: 80%;
}

.carousel-image {
  width: 100%;
  height: auto;
}

footer {
  background-color: #228b22;
  color: white;
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0;
}
