body {
  font-family: 'Arial, sans-serif';
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
}

.App {
  text-align: center;
}

nav {
  background-color: #228b22;
  padding: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2em;
}

.gallery img {
  width: 30%;
  margin: 1%;
  border: 2px solid #ccc;
}

footer {
  background-color: #228b22;
  color: white;
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0;
}
